[2017-05-30 11:27] nemesisdesign opened #1 "[feature] Add models"
- [x] add radius related models
- [x] add admin interface to manipulate database objects
- [x] add tests for basic features of models
- [x] add tests for basic features of admin (eg: open list page of each model)
- [x] ensure database structure works with [freeradius](http://freeradius.org/)

### Moved out of this issue

- ~~add references to the User model using `settings.AUTH_USER_MODEL` which s

[2017-05-30 11:42] nemesisdesign opened #2 "[ci] Add MySQL and PostgreSQL to travis build"
Configure travis-ci build to run tests both on mysql and postgresql

[2017-05-30 11:49] nemesisdesign opened #3 "[feature] Accounting API (read)"
Implement a RESTful API through which authorized users will be able to retrieve radius sessions, this API must be implemented using django REST framework.

Other API endpoints (for other models) may be added if there's time.

[2017-05-30 11:56] nemesisdesign opened #4 "[feature] Batch "add users" feature"
Implement a "batch add users" feature:

- each batch operation and its details must be saved to the database
- from each batch operation it must be possible to retrieve all the created username and password combinations
- deleting a batch operation should delete all the users created with it
- accounts created via batch operations may have an expiration date after which their account is no longer

[2017-05-30 11:58] nemesisdesign opened #5 "[docs] Document how to configure freeradius to work with django-freeradius"
Document how to configure freeradius so that it can work with django-freeradius.

The documentation can be written in ReStructuredText format in the `README.rst` file present in this repository.

[2017-05-30 12:01] nemesisdesign opened #6 "[feature] Abstract models"
Make the models added in #1 reusable by third-party apps by creating base models which have `abstract = True` in their `Meta`.

The work to be done in this issue is very similar to what has been done in https://github.com/netjson/django-netjsongraph/pull/26.

[2017-06-03 17:19] lillopaco commented on #1
I opened a pull request for some items

[2017-06-10 17:32] yakky opened #9 "[cleanup] Do not load mysql / postgres in the same configuration"
MySQL and Postgres should only be loaded when used.
Travis configuration must be changed accordingly

[2017-06-12 15:44] #2 closed

[2017-06-14 17:24] nemesisdesign opened #10 "[cleanup] Remove repetition of id declaration"
these lines:

[code]

can be put in a shared abstract model which all the other models subclass.

[2017-06-14 17:27] nemesisdesign opened #11 "[cleanup] Some db_columns are redundant"
Eg:

[code]

The attribute is named `priority` and also has a  `db_column='priority'` argument.

This redundancy is slowing me down in trying to read and understand the code.

I propose to avoid it when `db_column` is equal to the model field.

[2017-06-16 17:15] yakky commented on #1
@nemesisdesign how about moving the **User model** and denormalization tasks into separate issues? They looks big enough to deserve a dedicated tracking

[2017-06-16 17:16] yakky commented on #10
@nemesisdesign this field is only used in models coming from OWUMS. I propose to avoid using UUID in models with many rows (like ``RadiusPostAuthentication``, ``RadiusAccounting``)
Actually for now I'd just keep them in OWUMS-related models and see how to handle them (especially with regards to moving to custom user models and denormalization)

[2017-06-17 21:45] yakky opened #14 "[general] Configure isort / flake8 using setup.cfg"
By using setup.cfg it's possible to configure flake8 / isort for more consistent results.

[2017-06-17 21:46] yakky commented on #14
@nemesisdesign what do you think about moving flake8 / isort options to ``setup.cfg`` config file? See https://github.com/nephila/djangocms-blog/blob/develop/setup.cfg as and example

[2017-06-19 08:24] nemesisdesign commented on #14
@yakky sure, it's much cleaner

[2017-06-19 08:33] yakky commented on #14
@nemesisdesign I'll add to @lillopaco TODO :)

[2017-06-21 20:53] yakky opened #16 "Document extending freeradius models"
The new abstract models must be documented, with special care with hot to extend them as it's quite tricky

[2017-06-22 08:24] nemesisdesign commented on #1
@yakky sure, sorry for late delay

[2017-06-22 08:35] nemesisdesign commented on #10
@yakky for the short term is ok, regarding the long term we are aiming at a distributed setup but we'll need to think more carefully about this

[2017-06-25 19:01] #11 closed

[2017-06-25 19:02] yakky commented on #6
Closed by #13

[2017-06-25 19:02] #6 closed

[2017-06-25 19:03] yakky opened #17 "[models] Allow using custom user models"
Add references to the User model using settings.AUTH_USER_MODEL which should default to auth.User- see also https://docs.djangoproject.com/en/1.11/topics/auth/customizing/

From #1

[2017-06-25 19:04] yakky opened #18 "[models] Iterate to remove duplication of database fields when possible"
General refactoring / normalization of existing models.
Consistency with freeradius standard tables must be taken into account

From #1

[2017-06-25 19:06] yakky commented on #1
Closed via #13

[2017-06-25 19:06] #1 closed

[2017-06-27 17:32] yakky commented on #14
Fixed in #15

[2017-06-27 17:32] #14 closed

[2017-07-04 17:11] #16 closed

[2017-07-05 08:08] nemesisdesign opened #21 "[docs] Improve README"
We should eliminate some redundant information from the README and link the documentation.

@lillopaco you can maybe take some inspiration from the [README of netjsonconfig](https://github.com/openwisp/netjsonconfig/blob/master/README.rst).

[2017-07-06 08:39] #21 closed

[2017-07-06 09:55] nemesisdesign opened #23 "[docs] Move information from README to docs"
Move data in the README to the documentation, eg:

- Setup & Install
  - Install stable version from pypi
  - Install development version
  - Setup (integrate in an existing django project)
  - Installing for development
- Contributing

[2017-07-06 12:39] nemesisdesign opened #24 "[models] RadiusGroup redundant created and modified"
The model `RadiusGroup` has two additional fields:

* `creation_date`
* `modification_date`

which seem to be redundant with `created` and `modified`.

@lillopaco could you find out if we can use the usual `created` and `modified` fields which we have for every model and remove those two fields?

[2017-07-06 15:50] #24 closed

[2017-07-11 08:24] nemesisdesign opened #26 "Default freeradius 3 POSTAUTH query fails"
Output of `freeradius -X` when trying a dummy authentication, eg: `radtest admin admin localhost 10 testing123`.

[code]

In this case I think the best option is to keep the default `postauth` table as close as possible to what the default freeradius configuration expects.

[2017-07-12 08:17] #26 closed

[2017-07-12 09:57] nemesisdesign opened #29 "[postauth] Create API for postauth"
(**note: lower priority**)

After merging #28 the default postauth query works, but I've noticed the default query logs the password of the user, which in case of a successful attempt effectively defeats the point explained in the [hashing algorithm proposal I sent yesterday on the OpenWISP Mailing list](https://groups.google.com/d/msg/openwisp/TfXfDsZncf4/ckYKGwtQBQAJ).

Possible solutions:

* ~~

[2017-07-12 10:41] #9 closed

[2017-07-13 13:16] nemesisdesign opened #30 "[API] authorize"
As proposed in the OpenWISP Mailing List, in order to overcome the [hashing algorithm problem](https://groups.google.com/d/msg/openwisp/TfXfDsZncf4/ckYKGwtQBQAJ), we can configure freeradius to use a RESTful API.

We should therefore add an API URL that is dedicated to perform freeradius authorization (and maybe also authenticaiton? @yakky we need to investigate this).

Consider the following requ

[2017-07-26 09:35] nemesisdesign opened #33 "[API] How to limit usage?"
What's the best and simplest way to limit who can use the API?

Initially I thought about allowing specific ip ranges but then I thought maybe using some sort of token authentication may be good too.

PS: we should choose a solution which is also simple to automate via ansible

[2017-07-26 10:17] #30 closed

[2017-07-26 14:35] #23 closed

[2017-07-26 15:06] lillopaco opened #35 "[tests] Make all the tests reusable"

[2017-07-26 18:15] nemesisdesign opened #37 "[accounting] Default accounting query fails on postgresql"
Getting the following error:

[code]

When trying simulating an accounting request with `radclient`.

The `radacct` table is missing the `acctupdatetime` column.

[2017-07-27 09:58] nemesisdesign commented on #5
Done: https://github.com/openwisp/django-freeradius/commit/313e04ed7fd5d73f2cb8e80e1aad41e573fe51f6

We will have to update it as we add new features @lillopaco @yakky

[2017-07-27 09:59] #5 closed

[2017-07-27 10:21] nemesisdesign opened #38 "[feature] Accounting API (write)"
As discussed, let's add a way to store radius accounting sessions via the RESTful API.

This feature should be added after #3 which should be easier to implement.

[2017-07-27 10:28] nemesisdesign opened #39 "[authorize] Allow to enforce session limits"
We have to mainly 2 things:

- [ ] add a way (or establish what's the best way using the current available SQL tables) to define limits to the session of the users
- [ ] enforce these limits in the authorize API method

More specifically, we need to be able to replicate at least two features of [OpenWISP User Management System](https://github.com/openwisp/OpenWISP-User-Management-System):

- [ ] d

[2017-07-27 10:48] #37 closed

[2017-07-27 10:49] nemesisdesign opened #41 "[db] Smart migration from freeradius 3"
As discussed, we want to make it easy for those users who are already using freeradius 3 to start using django-freeradius.

To accomplish this we should proceed as follows:

1. [ ] first of all, we have to ensure our models reflect the default freeradius schema very closely
2. [ ] the first django migration should be dedicated to the default freeradius schema
3. [ ] every modification and addition

[2017-07-27 10:57] nemesisdesign opened #42 "[Accounting] Add ForeignKey to settings.AUTH_MODEL"
Add a `ForeignKey` from `RadiusAccounting` to `settings.AUTH_MODEL` which can be `NULL`.

We should add a mechanism through which the `ForeignKey` is automatically filled if the accounting is related to an user which is present in the database (if the user is not present in the database the foreign key will be left NULL, this is needed to support use cases which involve managing a freeradius proxy

[2017-07-27 15:08] nemesisdesign opened #43 "[Accounting] Add index for called-station-id"
In OpenWISP1 we have an index for called-station-id in radacct which helps us to retrieve sessions performed by specific mac addresses faster.

We may need to replicate this, but I'm not sure. I will leave this here as a reminder for the near future.

[2017-08-08 16:09] nemesisdesign opened #47 "[accounting] Dealing with unterminated radacct entries"
@yakky posed a couple of good questions, a third was then posed to myself:

1. ~~what happens if an accounting with `'Acct-Status-Type'= 'Start'` is sent but an accounting with same `Acct-Unique-Session-Id` already exists?~~ has been addressed in #45 and will be optimized in #49
2. ~~what happens if an accounting with `'Acct-Status-Type'= 'Interim-Update'` is sent but the accounting does not exist

[2017-08-08 16:57] #29 closed

[2017-08-18 15:01] lillopaco commented on #17
fixes in  #30

[2017-08-18 15:46] #17 closed

[2017-08-22 12:26] #3 closed

[2017-08-22 12:26] #38 closed

[2017-08-22 15:09] nemesisdesign opened #49 "[accounting] Optimize acounting API queries"
I would like to improve the current `AccountingView` so that only 1 SQL query is executed for each HTTP request, with a fallback query that is executed in case the first query fails.

To emulate the classical behaviour of the freeradius SQL module there are 3 cases to cover, each case has a fallback option, totalling 6 different cases to implement (and cover in automated tests):

- accounting star

[2017-08-22 15:25] nemesisdesign opened #50 "[management] delete_old_radacct"
In OpenWISP 1 we have implemented a few scripts that perform cleaning operations, we could implement these operation as management commands, eg:

- `./manage.py delete_old_radacct <numbe_of_days>` would delete sessions older than `<numbe_of_days>`

[2017-08-25 17:19] #49 closed

[2017-10-24 18:58] peppelinux opened #52 "Feature request: radtest/eapol_test Admin action"
It would be awesome to test multiple user accounts by selecting them and then run the action!
radtest or eapol_test could be selected according to the RADCHECK_PASSWD_TYPE attribute

[2017-10-31 08:47] peppelinux commented on #52
Soon as possibile I'll have to implement a radcheck/eapol_test to let our user administrators to test user accounts directly from admin action. This should be called regarding to the radcheck_password_type (NT-Password-> eapol_test, Cleartext-Password->radcheck), as Feature Request #52 describes.

this feature will let the eduroam operators to test, via web, the credentials without knowing them.
T

[2017-11-06 15:53] AlessiaVe opened #53 "[docs] development env uses sqlite but docs explain to use postgresql"
When I installed django freeradius, I saw that some staps are missing in the documentation. I follow this tutorial, http://django-freeradius.readthedocs.io/en/latest/general/freeradius.html, for the installation of freeradius on a virtual machine with debian. Among installation requirements of sql there is also python_ mysql.db . After do that for the configuration with postgresql, It's necessary

[2017-11-06 16:06] nemesisdesign commented on #53
You can create the database structure using `./manage.py migrate`. Did you import the sql from freeradius? That wouldn't work. Let me know. I'm asking this question in order to understand how to make the docs more explicit.

[2017-11-07 10:20] AlessiaVe commented on #53
By default the enviroment for the development is sqlite but if someone wants make an installation for the production, the procedure is different and there isn't any description of this in the documentation (for example the passages which include the installation and configuration of postgres).

[2017-11-09 14:54] nemesisdesign opened #56 "[requirements] Update django-rest-framework to 3.7"
Update django-rest-framework dependency to 3.7.

[2017-11-09 14:55] daverickdunn opened #57 "Pypi package has empty module files."
Hi guys,

It appears that the package on pypi has at least one empty module (my colleague reckons there were some others as well):

i.e. `lib/python3.5/site-packages/django_freeradius/urls.py` is just a blank file.

Importing it into Django, as per the basic instructions, results in the error:
[code]

Installing the package from `https://github.com/openwisp/django-freeradius/tarball/master` howeve

[2017-11-09 15:30] daverickdunn opened #58 "Password Encryption"
Hi guys,

I'm wondering has anyone given thought to, or is it within the scope of the projects goals, to add the respective encryption algorithms for the radcheck passwords and an option to encrypt from the admin panel?

I'm going to have to do this myself anyway, for at least one algorithm, so would be happy to contribute if this is something that is welcomed.

**Edit:** To clarify, I mean to add

[2017-11-09 15:35] nemesisdesign commented on #58
Hi @daverickdunn and welcome, do you want to use this for the authorize phase or for what else?

[2017-11-09 15:39] daverickdunn commented on #58
Hi @nemesisdesign, yes, authorize. Unless I'm misunderstanding something, I'm fairly new to freeradius...

[2017-11-10 13:05] daverickdunn commented on #58
Thanks for the info, I was clearly misunderstanding the purpose of this package - I assumed it was acting _simply_ as an admin interface to a set of FreeRadius tables, and I also assumed the REST API was _simply_ a tool to perform CRUD on those tables.

I agree that Django's auth module is more secure, and it's a great idea to use it instead of the weaker algorithms, there's no question about that

[2017-11-10 13:51] nemesisdesign commented on #58
@daverickdunn I see. Most probably those systems expect clear text passwords to be sent over an insecure or untrusted connection, which is not the case of OpenWISP.
The architecture of OpenWISP requires to have a trusted secure communication between freeradius, the captive portal (usually PfSense) and the web application.

That said, this project is still a work in progress (you may have noticed t

[2017-11-10 15:50] peppelinux commented on #58
Hi guys, it's nice to hear you on this :)
Yesterday I pushed this feature in my repository, as you can see from the next picture I coded an admin form to introduce a new_value field that takes a password in a passwordfield widget and, in according to the password format (cleartext,nt-password....), stores the corresponding hash in the value field.

![selezione_167](https://user-images.githubuserco

[2017-11-10 15:58] daverickdunn commented on #58
@peppelinux This is awesome. It's _exactly_ what I had in mind! If you like, I'm happy to fork your repo and implement one or more of the other algorithms...

[2017-11-10 16:04] peppelinux commented on #58
@daverickdunn yes We can move forward, you have all my support.
If you'll implement the other hash functions I'll move to coding the things I wrote

[2017-11-10 16:06] daverickdunn commented on #58
@peppelinux Cool, I'll take a look this weekend.

[2017-11-11 13:53] daverickdunn commented on #58
@nemesisdesign sorry, I was a bit busy yesterday evening so only getting round to giving you a proper response now.

We will be authenticating both users and devices. We are also trying to unify a lot of older systems/tools to use a single user authentication mechanism for better accounting and security (by unify I generally mean re-write).

I'll try describe our general scenario without too much

[2017-11-11 14:29] nemesisdesign commented on #58
@daverickdunn thank you very much for the nice explanation and image! :+1

Helping you in doing what you are doing is one of the goals of OpenWISP 2, so I'd like to make sure we get this done in a way that works well for all of us.

Maybe you could discover more open source module you can reuse within the [OpenWISP](http://openwisp.org) and [NetJSON](http://netjson.org/) ecosystems, if you have ti

[2017-11-12 10:53] nemesisdesign commented on #57
the package on pypi is just a placeholder in alpha stage that I issued to reserve the name, use the github tarball until we reach something that is good enough to be 0.1 release. A couple of important features are still missing from our roadmap.

[2017-11-12 10:54] nemesisdesign commented on #4
@lillopaco I'm waiting from news on your side regarding this!

[2017-11-12 18:52] cappe87 commented on #4
I have all this features in an application wrote by me for the university
of Urbino. I don't know if my idea is the best idea (some people would say:
"It's somethings"). I'm avaiable to talk about this.

Il giorno dom 12 nov 2017 alle ore 11:54 Federico Capoano <
notifications@github.com> ha scritto:

[2017-11-28 18:22] peppelinux commented on #4
I'm going to develop something similar based on a csv file import.
We could tag each csv file with a sha256 and take a log of all imported files (and entries id) in another schema (model).

Each istance of these log could be also exported as badge.

ps = ...I was developing just the CSV import/delete but the automatic export of badge is quite good for me too

[2017-11-29 15:39] nemesisdesign commented on #4
@peppelinux, @lillopaco is working on this, Fiorella can you start pushing some code and open the pull request so other people can help us?

[2017-11-29 15:50] peppelinux commented on #4
Ok I'll move to the next. If we need something to be developed before something else, well just write here, we could divide our tasks.

I've just finished flake and unisort revision on django-freeradius, I'm fixing coverage validation then I'll  ready for something else to do :)

[2017-11-29 15:59] lillopaco commented on #4
@peppelinux  @nemesisdesign  Ok, sure!! Tonight I will start pushing code and open the pull request.

[2017-11-30 16:57] peppelinux commented on #50
This is something I can do next week, if you agree

[2017-11-30 21:17] peppelinux commented on #33
https://github.com/Tivix/django-rest-auth

[2017-12-01 09:12] peppelinux commented on #4
It would be great if it also be possible to:

- Choose the password type hash
- Choose to generate password using a multi-valued seeds fileds. Example value: "dog,23,_,!,W". The password could be generated with a wordlist generator algorithm (an example could be extracted here: https://github.com/peppelinux/gen2k/blob/master/Gen2k.py#276)
- Check if some accounts is duplicated (same_username@same_

[2017-12-02 09:04] cappe87 opened #59 "[Feature] List of nas type in the nas add page"
In the nas add page we can add a list of nas type on the right of the input box.
A free input box will remain, user can decide to write a nas type or choose one from the list.
I think it would be help.
What do you think @nemesisdesign ?

[2017-12-02 16:42] peppelinux commented on #52
The only way to test it would be storing password in crealtext format!
The only way to test if the accounts works would be a radius auth backend, through a web form.
Yes, you should also know the password to test it :)

[2017-12-02 16:42] #52 closed

[2017-12-02 16:48] peppelinux commented on #59
These could be extracted by service-type from rfc 2865 and putted in tha app_settings as done for the hash type

https://www.iana.org/assignments/radius-types/radius-types.xhtml#radius-types-13

[2017-12-11 10:15] peppelinux commented on #5
Probably this issue should be reopenend, radiuscheck enhacements introduces new features that should be configured in radius check SELET SQL query in $FREERADIUS_CONF_PATH/mods-enabled/sql

[2017-12-12 20:53] cappe87 opened #63 "[Feature] Disabled Users in API"
We can add a possibilty to manage disabled users.
A standard way to have disabled users is to use a group in radgroupcheck table.
Here you can see an [example](https://pastebin.com/bRtn8Rmr
)
We can decide to have a simple checkbox in the users page like "Disabled" or we can improve a simple method to add users to one or more groups.
I prefer the last one.

[2017-12-13 10:48] cappe87 commented on #59
This should be fixed by https://github.com/AlessiaVe/django-freeradius/commit/12e0539fbba5e61e3c485b2fa850396fe63f152f
![add nas django site admin](https://user-images.githubusercontent.com/6532945/33935199-609fb92c-dffb-11e7-8a60-989540616849.png)

[2017-12-13 11:09] peppelinux commented on #59
Wonderfull, she just have to test flake/isort/coverage and then do a pull request !!!

[2017-12-13 11:15] peppelinux commented on #63
Hi Cappe, I developed an is_active and a valid_until attribute in RadiusCheck.
You can find my code in this PR:
https://github.com/openwisp/django-freeradius/pull/61

We could code the same behaviour for the groups.

ps = I also update the Documentation to let the user modify the behaviour of sql freeradius radcheck query. If valid_until threshold is exceeded or is_valid is false the query will ig

[2017-12-13 15:24] peppelinux opened #65 "[Feature] RadiusCheck should prevents duplicates entries by username"
This feature should drop out the duplicate admin filter I done but... Yes it should.
We could improve AbstractRadiusCheckManager adding a check into create() overridden method.

If freeradius have duplicate username it will authenticate the session according to the oldest account.
The last inserted, with different password value, will be ignored.

This could also introduce a workaround into radiuc

[2017-12-13 15:34] peppelinux commented on #53
Mhhhh... If you agree I can produce a ansible-freeradius-sql
We talked about this with nemesis, He tolds me to do this after the stable release or something similar, in the sound of "don't you worry, there will come the time for this".

This could be driven according to this base configuration:
https://github.com/peppelinux/UniTools/blob/master/freeradius/freeradius_3.0.12_debian9.setup.sh

hint:

[2017-12-13 15:40] peppelinux commented on #41
With my last commit we are going to extend radius check table, I talking about here
https://github.com/openwisp/django-freeradius/pull/64

This means that freeradius have is_valid(boolean)  and valid_until(datetime) and a little patch in
/etc/freeradius/3.0/mods-config/sql/main/mysql/queries.conf

according to what I already documented.
Yes I know that I did what shouldn't be done but it works and

[2017-12-13 15:50] cappe87 commented on #63
In my production freeradius I use the same "solution".
We can decide to use this adding is_active and valid_until to RadiusCheck table or try to use a standard solution with radgroupcheck. What do you think about this?

[2017-12-13 15:53] cappe87 commented on #65
I agree with your solution, but what do you think about realms? Do you use realms in your production environment?

[2017-12-13 16:16] peppelinux commented on #63
is_active and valid_until is going to be merged soon, I think (I hope), in radiucheck schema.

I think that is_active and valid_until could be also used in radgroupcheck.

Doing this we could also extends the RadGroupUserAdmin with username autocompletion (I have some code roughly ready to be merged, with third-part dependency called django-autocomplete-light) because Alan Dekok didn't used Foreig

[2017-12-13 16:21] peppelinux commented on #42
Probably django generic relations with an Admin custom form and a ModelManager that runs the game under the hood could be good for us

https://docs.djangoproject.com/en/2.0/ref/contrib/contenttypes/#generic-relations-in-admin

[2017-12-13 16:26] peppelinux commented on #65
Yes, we use only realms.
It works because every account have its own realm coded into its username value, probably I missed something or I probably did not understand the question correctly, if something missed just tell me more, I'll follow you in it.

[2017-12-13 17:29] cappe87 commented on #65
Sorry, in which table do you save realms? Do you allow two or more users with the same username but with different realms?

[2017-12-13 17:48] peppelinux commented on #65
Freeradius stripes usernames into a realm according to a byte value like "@" coded into the account username. The same as the email, so default value is @ but it could also be changed in freeradius configuration.

According to this approach the realms for every account is coded into the username, this way:

peppelinux@guest.realm.it
peppelinux@dipartimento.realm.it

This way we could also have an

[2017-12-13 18:03] peppelinux opened #66 "[Feature] Radius group users: radcheck m2m autocomplete"
In RadiusGroupUsersAdmin We also need a "search and autocomplete" widget on m2m radiuscheck entries. Actually a user should scroll by hand and then select the desidered accounts holding CTRL key, this is not so easy for thousands of accounts :)

According to this I'm proposing to introduce this dependency in django-freeradius
django-autocomplete-light

I already developed using it in Django Admin

[2017-12-14 11:36] peppelinux commented on #65
cappe87 I thought about the way you suggested to me, with your question. I realized that we could extends RadiusCheckAdmin[Form too] in a way to manage realms more like an ordinary group management, just a signal or a overridden method to split the realm from the account, get the realm from our management realm schema/model, append the realm to the splitted[0] account before saving it.

this could

[2017-12-18 09:59] nemesisdesign opened #69 "[Accounting API] Accounting start fails with coova-chilli"
Coova chilli sends an accounting start request which doesn't include the following fields:

- `output_octets`
- `input_octets`
- `session_time`

We should allow these fields to be missing if the request is of type start and default to `0`.

[2017-12-18 10:00] nemesisdesign commented on #56
Closed by 25dc8d195c91ed6a692c8b4fb637b07c522930c6

[2017-12-18 10:00] #56 closed

[2017-12-18 10:01] #57 closed

[2017-12-18 16:20] peppelinux commented on #65
...By the way, the more simple way to prevent duplicate entries by their username is adding a unique=True attribute in the model.Charfield of base.AbstractRadiusCheck.username

isn't it? :)

[2017-12-19 10:47] peppelinux commented on #4
Badge export: Would it be great to talk some Latex? :)
https://tex.stackexchange.com/questions/208142/print-a-receipt

[2017-12-19 11:04] peppelinux commented on #69
Some references here:
https://coova.github.io/CoovaChilli/chilli-radius(5).html
https://github.com/coova/coova-chilli/blob/master/doc/attributes

[2017-12-22 16:56] nemesisdesign commented on #50
what about 2 GCI tasks? I know you can do this, but since it's so easy, it would be valuable to teach more people to contribute and maintain this project in order to enlarge the pool of maintainers

[2017-12-22 18:54] peppelinux commented on #50
Ok

[2017-12-23 19:51] nemesisdesign opened #73 "[management] delete_old_postauth"
In OpenWISP 1 we have implemented a few scripts that perform cleaning operations, we could implement these operation as management commands, eg:

- `./manage.py delete_old_postauth <numbe_of_days>` would delete postauth logs older than `<numbe_of_days>`

[2017-12-23 19:51] nemesisdesign commented on #50
split the issue in 2 parts #73

[2017-12-25 13:28] h0n3yc4k3 opened #75 "[docs] No file "sql" of freeradius-server"
I have ubuntu 16.04.3 with last updates
I installed freeradius from site and repository (on first VM from sources and second from repository)
And there no directory *mods-available* (so there no with file *sql*)
But I found a very similar file called *sql.conf* except `dialect` value (there no this parametr)
![2017-12-25_162633](https://user-images.githubusercontent.com/34004367/34340196-7afe7896-

[2017-12-25 13:33] h0n3yc4k3 commented on #75
Google says that it possible bcs I have Ubuntu 16.04
It shoud be fixed on Ubuntu 17.04

[2017-12-25 16:22] EdoPut commented on #75
Hello and thanks for this report.

Please do not use pictures, you can paste the file so that everyone can read it without problem.
Have you followed some instructions? Did you have any trouble with any steps?

You can use markdown to format your message. I for example like to paste file content with a **code formatting**

[code]

You can read more about formatting your text [here](https://guides.

[2017-12-25 19:21] h0n3yc4k3 commented on #75
The reason was that I used ubuntu 16.04 (exactly 16.04.03 with last updates)
With ubuntu 17.04 (I updated too) all look ok
I thought that last updates will be enough

[2017-12-25 20:42] nemesisdesign commented on #75
Right, the modules need to be enabled, #74 seem to address this issue

[2017-12-26 11:32] EdoPut commented on #75
@h0n3yc4k3 you are right, the docs page does not mention the correct path for your system.

As you are using [16.04 (AKA Xenial)][releases] we must refer to a different file, would you like to add this information to the [documentation page][freeradius]?

You can edit this https://github.com/openwisp/django-freeradius/blob/master/docs/source/general/freeradius.rst and make a pull request so we can

[2017-12-26 12:08] h0n3yc4k3 commented on #75
@EdoPut there no `freeradius-rest` package and path on Ubuntu 16.04 is */etc/freeradius/sites-available*
Very similar file is */etc/freeradius/sql.conf*, but there no *dialect* parametr (it contains all another)
Content of */etc/freeradius/sql.conf* file: https://pastebin.com/CZhqtXUc
Log of command 'journalctl -b 0 -u freeradius` very long, there last lines: https://pastebin.com/wxs1BPBU

[2017-12-26 12:29] EdoPut commented on #75
You mean you can't install the `freeradius-rest` package? This means that you won't be able to use django-freeradius from freeradius. There are two solutions, upgrade to ubuntu 17.04 or add the repository `ppa:freeradius/stable-3.0`

Have you run the command?

[code]

Can you search for the package `freeradius-rest` with `apt-cache search freeradius-rest`?

This is not a problem if freeradius know

[2017-12-26 12:48] peppelinux commented on #75
Hi @h0n3yc4k3, when we get some dirty in the configuration files, in way that is difficult to figure how where the problem is, remember to run freeradius in debug mode:
[code]
In the last years I produced a procedure to configure a Freeradius server following a common profile.
The resource is:

https://github.com/peppelinux/UniTools/blob/master/freeradius/freeradius_3.0.12_debian9.setup.sh

follow

[2017-12-26 12:54] EdoPut opened #77 "[docs] Specify which steps are required when installing freeradius for development"
In https://github.com/openwisp/django-freeradius/blob/master/docs/source/general/freeradius.rst we deal with installing and configuring freeradius with both a sql backend and a rest backend but we don't specify which is needed for development only.

As an example #75 had problems that deals with configuring freeradius and can't move on to more interesting work.

I suggest we begin with named secti

[2017-12-26 12:56] peppelinux commented on #77
Could we open two task for

ansible-freeradius
and
ansible-freeradius-dev

How this sounds to you?

[2017-12-26 12:58] cappe87 commented on #77
I agree!

Il mar 26 dic 2017, 13:56 Giuseppe De Marco <notifications@github.com> ha
scritto:

[2017-12-26 13:03] peppelinux commented on #77
@cappe87 merry xmas :)

We could start extracting what we consider good for us, from this if you agree:
[code]

[2017-12-26 13:04] peppelinux commented on #77
@EdoPut
the guide is very very good!
https://github.com/openwisp/django-freeradius/blob/master/docs/source/general/freeradius.rst

[2017-12-26 13:13] EdoPut commented on #77
Extracting the script steps to something more readable should be fine.

The guide is very good as it addresses how to configure freeradius but it's not done as it miss key points

- SQL is needed when developing?
- we don't refer that there is a dummy_sql module to remove

[2017-12-26 13:36] h0n3yc4k3 commented on #75
@EdoPut yes. When I try install it with `apt-add-repository ppa:freeradius/stable-3.0` Im getting error: https://pastebin.com/4GpMj3YH
Yes, I already updated to Ubuntu 17.04

Yes, there no results ;(

Ok, I will try to check it

[2017-12-26 13:44] h0n3yc4k3 commented on #75
@peppelinux I think you as @EdoPut are right

Tue Dec 26 05:37:34 2017 : Info: rlm_rest (rest): Opening additional connection (0), 1 of 32 pending slots used
Tue Dec 26 05:37:34 2017 : Debug: rlm_rest (rest): Connecting to "http://127.0.0.1/"
Tue Dec 26 05:37:34 2017 : Error: rlm_rest (rest): Connection failed: 7 - Couldn't connect to server
Tue Dec 26 05:37:34 2017 : Error: rlm_rest (rest): Openi

[2017-12-26 13:51] EdoPut commented on #75
Then remove the `freeradius` package with all its documentation with

[code]

Then we can purge and remove the ppa as it is not necessary for 17.04

[code]

Finishing with updating the local repository index and installing `freeradius` again

[code]

[2017-12-26 14:08] h0n3yc4k3 commented on #75
Yes, I did it. Left to configure freeradius 😌

[2017-12-26 14:15] EdoPut commented on #75
Wonderful, keep going!

[2017-12-26 18:47] nemesisdesign commented on #41
We have 3 fields of the radius check model that have to be added in subsequent migrations:

- ``is_active``
- ``valid_until``
- ``notes``

[2017-12-26 18:52] #58 closed

[2017-12-26 19:10] nemesisdesign commented on #77
Let's keep it simple and advise to configure as we explain, expert users will figure it out by themselves if they don't need anything, newbies would get confused if we start branching the documentation into different cases.

I'm getting confused because we have different issues related to similar aspect of the docs:

- #53
- #75
- and this one #77

Is there any duplication among these 3 or can we

[2017-12-26 21:11] peppelinux commented on #35
Would we like to create a unit test method to take some arguments to introduce an generalized approach?

We could introduce a method as an interface that call some other private methods of the class.
Do we start with a GCI task?

[2017-12-26 21:13] nemesisdesign commented on #35
@peppelinux we do this in other openwisp2 modules, take a look:

- https://github.com/netjson/django-netjsongraph/tree/master/django_netjsongraph/tests/base
- https://github.com/openwisp/django-loci/tree/master/django_loci/tests/base

Yes let's create it

[2017-12-27 11:15] #75 closed

[2017-12-27 11:43] #50 closed

[2017-12-28 11:22] nemesisdesign opened #80 "[docs] Complete motivations & goals page"
This is a reminder for myself, I need to complete the [Motivations & Goals page](http://django-freeradius.readthedocs.io/en/latest/general/goals.html) before the first release is issued.

[2017-12-28 12:52] peppelinux commented on #4
Hi guys, is there some news on this feature?

[2017-12-28 15:11] #73 closed

[2017-12-28 21:00] peppelinux commented on #63
Merge done, master branches aligned
we could start creating a new task for CGI if you agree, the focus should be how to disable or expire a group of radcheck entries using radgroupcheck

[2017-12-29 12:34] #59 closed

[2017-12-29 12:46] nemesisdesign commented on #63
BTW: the best way for the classical users of OpenWISP is to do this is via the RESTful API since they don't have to mess with radius checks and can manage users directly from the users management page.
This will become especially important when multitenancy is added to the mix.

Adding this to the RESTful API is just a matter of few lines of code and we can turn this into a GCI task or let @Alessi

[2017-12-29 12:51] nemesisdesign commented on #63
There: https://github.com/openwisp/django-freeradius/blob/master/django_freeradius/api/views.py#L21

Possible path forward (TDD style):

- write a test that creates a disabled user and tries authenticating it, expecting the authentication to fail, the test will fail because it doesn't seem implemented this way
- just add `is_active=True` to the queryset
- ensure the test passes
- done!

[2017-12-29 16:15] peppelinux commented on #63
Two cents:

- Shall we consider the opportunity to make some unit test running as freeradius client too? This means that the RadiusServer server should accept the radrequest as client (in client.conf) and should forge a radtest session to the server. This can introduce another feature, the possibility to test a user auth via Django-freeradius admin backed/api/other (django-freeradius->freeradius).

[2017-12-30 20:19] nemesisdesign commented on #53
Summary:

- the development environment uses sqlite by default
- in the [Installation and configuration of Freeradius 3](http://django-freeradius.readthedocs.io/en/latest/general/freeradius.html) page we show how to configure freeradius with postgres but we don't explain how to configure the development environment with postgresql

Proposed solution: add a new section after "How to install freerad

[2018-01-02 10:20] #77 closed

[2018-01-02 10:21] nemesisdesign commented on #77
thx for the status update

[2018-01-02 11:10] nemesisdesign commented on #42
maybe we can drop this altogether and add a model method to retrieve the sessions of the user, not essential right now

[2018-01-03 14:22] #63 closed

[2018-01-03 14:24] nemesisdesign commented on #35
Closed by 79a451c402fde45afdf5277f171ca33665c35830

See @R9295, we forgot to close this ticket because the commit message didn't close it automatically.
It's important to automate this stuff because it's such a waste of time to do it manually.

[2018-01-03 14:24] #35 closed

[2018-01-03 14:25] R9295 commented on #35
@nemesisdesign gotcha, will do next time.

[2018-01-03 14:38] peppelinux commented on #63
This issue could reborn with radgroupcheck mass disable feature

[2018-01-03 14:57] nemesisdesign commented on #47
Closed by #82
@R9295 same here

[2018-01-03 14:57] #47 closed

[2018-01-05 11:24] nemesisdesign commented on #69
So it turns out the request contains the fields but they are empty, eg:

[code]

[2018-01-05 11:25] nemesisdesign commented on #69
PS: interim-updates and accounting stop work though, which is good.

[2018-01-05 11:33] nemesisdesign opened #89 "[Accounting-API] Pagination missing"
We need to limit the results when viewing Accounting records, something like:
http://www.django-rest-framework.org/api-guide/pagination/#limitoffsetpagination

But which doesn't alter the structure of the JSON response.

[2018-01-07 13:29] #69 closed

[2018-01-12 08:29] danieldai commented on #89
@nemesisdesign What does it mean by not altering the structure of the JSON response?

[2018-01-12 12:55] nemesisdesign commented on #89
Hi @danieldai, the default Django Rest Framework pagination classes alter the structure of the JSON returned in the response so that a few JSON members are added like "next", "previous", "count", "content", see here: http://www.django-rest-framework.org/api-guide/pagination/#api-reference

[2018-01-12 19:10] peppelinux opened #91 "[bug] Radiuscheck query fails"
SQL query fails if valid_until is null.
We have just to decide to modify radcheck SQL query or force valid_until not null

[2018-01-12 19:21] peppelinux opened #92 "[bug][RadiusCheckAdmin] RadiusCheck new entries doesn't show value password field"
RadiusCheck new entries doesn't show value password field, actually this must be done after its creation, in modify page.

[2018-01-13 13:48] peppelinux commented on #91
fixed in
https://github.com/openwisp/django-freeradius/pull/93

[2018-01-13 19:09] peppelinux commented on #91
We could also remove >CURDATE() in the freeradius radcheck query and develop a management script, to be runned with a system scheluder like crontab, to disable all the accounts with expired valid_until values.

[2018-01-13 19:43] peppelinux commented on #92
fixed in
https://github.com/openwisp/django-freeradius/pull/93

[2018-02-13 09:54] rohithasrk opened #94 "Add support to django > 2.0 in requirements-test"

[2018-02-14 07:37] HargovindArora commented on #94
@rohithasrk can you guide me on how to proceed with this issue? :)

[2018-02-14 12:27] rohithasrk commented on #94
Hi @HargovindArora. The best way would be to setup the environment with Django > 2.0 and runtests until all of them pass. Also, you can check out the Django changelogs and the PRs which reference the same. https://github.com/netjson/django-netjsongraph/commit/c6b367f295964a2ed081b6691cc3cc2a3e293dd1 for example.

[2018-02-14 12:35] HargovindArora commented on #94
Thanks, @rohithasrk . I'm on this!

[2018-02-17 16:24] rohithasrk opened #96 "Add openwisp admin theme to django-freeradius"
Refer to https://github.com/openwisp/openwisp-utils and add the uniform admin theme of openwisp to this project as well.

[2018-02-17 16:51] rohithasrk opened #97 "Import shared code from openwisp-utils"
Refer to [openwisp-utils](https://github.com/openwisp/openwisp-utils) and import the code which is being duplicated here from there.

[2018-02-17 20:35] nemesisdesign commented on #96
We should add the theme only in the test environment, eg: `test/settings.py` because other users/developers may want to use the app without the theme.

[2018-02-18 15:21] anurag-ks commented on #96
Can I work on this ?

[2018-02-18 15:57] rohithasrk commented on #96
Hey @anurag-ks. That would be great :D

[2018-02-18 16:43] anurag-ks commented on #96
@rohithasrk is this the fix that you guys wanted - https://github.com/openwisp/django-freeradius/pull/98

[2018-02-18 18:19] anurag-ks commented on #66
Can I work on this ?

[2018-02-19 07:49] #94 closed

[2018-02-19 14:38] #96 closed

[2018-02-20 23:43] nemesisdesign commented on #91
keep it simple

[2018-02-21 19:46] anurag-ks commented on #89
@nemesisdesign what should be the page size ?

[2018-02-22 11:16] nemesisdesign commented on #89
set the default to 10, but it should be overridable up to a maximum of 100.

Don't forget to write tests for this behaviour, creating dummy accounting records when needed.

[2018-02-22 11:29] nemesisdesign opened #99 "[Accounting-API] Improve filtering"
Allow filtering for these fields:

- `username` filter for a specific username
- `called_station_id`
- `calling_station_id`
- `start_time`: look for sessions started in a specific date (in `YYYY-MM-DD` format)
- `stop_time`: look for sessions finished in a specific date (in `YYYY-MM-DD` format)
- `open`: this is not a database field but a boolean filter that looks for sessions which have `stop_tim

[2018-02-24 10:39] anurag-ks commented on #89
@nemesisdesign #100 I did not write new tests but I modified the old ones to test the behavior.

[2018-03-01 16:50] anurag-ks commented on #99
@nemesisdesign for `start_time` and `stop_time` will ISO 8601 format work ?

[2018-03-01 19:49] anurag-ks commented on #99
https://github.com/openwisp/django-freeradius/pull/101 fixed @nemesisdesign

[2018-03-05 09:22] nemesisdesign opened #102 "[docs] Document API usage"
Add an API page which explains briefly what each end point does, we can use `.. automethod::` and or `.. autofunction:: ` as we do in the [netjsonconfig docs](http://netjsonconfig.openwisp.org/en/stable/general/basics.html#implementation-details) to automatically include the docstrings of the views and link their source code.

Regarding the accounting API, we should very briefly describe how to us

[2018-03-05 09:23] #99 closed

[2018-03-05 09:24] nemesisdesign commented on #97
@rohithasrk stated as it's now this issue is not helpful to new contributors, they would have to read the entire code of both openwisp-utils and django-freeradius which is just not gonna happen.

[2018-03-09 03:38] anurag-ks commented on #102
I'll take it up :+1:

[2018-03-09 12:56] rohithasrk commented on #33
@nemesisdesign Can we do something from the freeradius's end? Given that we are configuring the API from freeradius as well.

[2018-03-09 13:09] rohithasrk commented on #10
Create something like a `idMixin` or so, or shall we import https://github.com/openwisp/openwisp-utils/blob/master/openwisp_utils/base.py?

[2018-03-09 13:13] rohithasrk commented on #39
Working on this.

[2018-03-09 15:23] rohithasrk commented on #53
Can help with this.

[2018-03-09 18:05] anurag-ks commented on #33
DRF's token authentication combined with permissions for the class based API views ? @nemesisdesign

[2018-03-09 21:29] rohithasrk commented on #41
Working on it.

[2018-03-09 22:13] rohithasrk commented on #97
I think there is only one Abstract model that we are using, i.e., `TimeStampedEditableModel`.

[2018-03-09 22:18] rohithasrk commented on #18
Also, do you think there is a need to organizing the `base/models.py` more properly? I see managers, querysets, abstract-mixins all in one file. Could be a low priority thing though.

[2018-03-09 22:19] rohithasrk commented on #33
@anurag-ks. Yep. That's something we can do from django's side. But I think freeradius has some features which could come to use here.

[2018-03-09 23:47] #53 closed

[2018-03-10 10:03] anurag-ks commented on #102
Since I added those features, let me finish it up :+1:

[2018-03-10 11:03] anurag-ks commented on #102
@nemesisdesign I don't we can use .. automethod:: and or .. autofunction:: to document REST Api endpoints.

[2018-03-11 07:10] rohithasrk commented on #4
Made a prototype. Will push soon

[2018-03-11 17:16] rohithasrk opened #108 "Add more attributes to the tuple of RadiusCheck model"
There are very limited attributes as of now for the RadiusCheck model. We could have additional attributes or add a way to use those additional attributes. Like `Simultaneous-Use` etc. We'll have to research a bit more about this and then proceed. This option exists for the RadiusGroupCheck as of now.

[2018-03-20 00:18] #102 closed

[2018-03-21 14:00] anurag-ks commented on #97
I have made the changes, will push the code soon.

[2018-03-27 15:44] #97 closed

[2018-05-11 16:23] rohithasrk opened #112 "[docs] Document all the 0.1 features"
To be done after closing #4 #33 #39

[2018-05-12 11:57] rohithasrk commented on #4
After discussion with @nemesisdesign the following things have been finalized for this feature.
1. CSV format would be: username password email firstname lastname
2. If CSV file contains all the fields then import them as they are, otherwise autogenerate the passwords leaving the other fields blank. (a method and tests for the same are needed)
3. The length of password should be customizable from

[2018-05-14 16:47] rohithasrk opened #113 "CSV Upload from Admin interface"
This would be a part of the CSV upload feature which shall use the common logic of the management command but would allow the csv to be uploaded from the admin interface which is very preferable for the users.

[2018-05-14 16:57] rohithasrk opened #114 "CSV upload using a management command"
Upload a csv of users using a management command.

`python manage.py <filepath> <expiration_date>` should be able to perform all the upload tasks with features mentioned in #4

[2018-05-15 11:47] nemesisdesign opened #115 "CSV import: dealing with passwords"
Related to #109

This is the hashers django currently supports: https://docs.djangoproject.com/en/2.0/topics/auth/passwords/#included-hashers

The case Marco has I think is unsalted md5.

We need to figure out what's the best way to do this.

Django stores the passwords in a way that the hashing algorithm is automatically understood, for example:

[code]

Which indicates the password is hashed usi

[2018-05-17 06:15] rohithasrk commented on #115
Tried to include this in #109 as well

[2018-05-22 09:48] rohithasrk opened #116 "Fix travis fails on extending the application. Auth_user relation doesn't exist"
To replicate it, pull the code in the PR #109 and run tests with exporting SAMPLE_APP=1

[2018-05-24 07:34] rohithasrk opened #118 "Update DRF to latest version"

[2018-05-24 09:36] #112 closed

[2018-05-24 09:39] rohithasrk commented on #112
Closed because the practice followed in OpenWISP is that the docs go along with the development. A feature PR must contains docs and otherwise it is not complete. Thanks to @nemesisdesign for reminding it. :smiley:

[2018-05-24 12:53] rohithasrk commented on #4
Regarding the batch-add-users feature for the events with a suffix for ex. GSoC and and 10 users to be generated, we could have users like GSoC1, GSoC2 ...  GSoC10 and random passwords generated. These can be stored in a PDF file and the PDF file could be stored in a file field and downloaded whenever necessary.

[2018-05-25 08:35] nemesisdesign opened #119 "[tests] Are we really reusing base tests in the sample app?"
Recently we worked on #83, but checking the tests in the sample app it doesn't seem to me that [the base tests are being imported](https://github.com/openwisp/django-freeradius/blob/1d2f7d8890d331ceb322d561c4a3e3649e6bb9ed/tests/sample_radius/tests.py) and hence I'm not sure the base tests are run in the sample app too.

[2018-05-25 15:38] rohithasrk commented on #119
Yes. I've been wondering the same lately. These seem like some custom tests written for the SAMPLE_APP.

[2018-06-12 19:22] nemesisdesign opened #120 "[admin] Add link to CSV import docs"
Once #109 is merged and docs are published, we can add a link in the help text of the csv field to the relative doc page to make the life easier to users which will need to find out what's the format used.

[2018-06-13 12:14] rohithasrk opened #121 "Negative integers to the prefix generation should raise a validationError"

[2018-06-14 08:35] #121 closed

[2018-06-14 08:40] rohithasrk opened #123 "[ci] Fix ocassional travis fails if issue from our end"

[2018-06-15 11:10] #114 closed

[2018-06-15 11:11] #113 closed

[2018-06-15 11:11] #4 closed

[2018-06-15 11:11] #116 closed

[2018-06-15 11:11] #115 closed

[2018-06-15 11:12] #118 closed

[2018-06-15 11:13] rohithasrk commented on #123
I think it is the problem of Travis. I've observed it in other repositories as well. Maybe Travis is enforcing limits/ not able to take up so many build requests.

[2018-06-15 11:43] rohithasrk commented on #123
Closing this.

[2018-06-15 11:43] #123 closed

[2018-06-16 17:02] nemesisdesign commented on #119
Let's try to fix this as last task of django-freeradius, it should be quick, if it's not quick we'll leave it open, what do you think @rohithasrk?

[2018-06-18 10:02] rohithasrk commented on #119
Yeah @nemesisdesign. This good be a good first issue too for someone looking to contribute.

[2018-06-18 10:04] #120 closed

[2018-06-18 10:05] rohithasrk commented on #120
Closed via #124

[2018-06-20 10:33] cappe87 opened #125 "[API] Versioning"
It’s always a good idea to version API so we’ll add to the route /v1/

[2018-06-20 11:20] nemesisdesign commented on #125
@rohithasrk https://github.com/openwisp/django-freeradius/blob/master/django_freeradius/urls.py#L7

The docs will need to be updated too:
- https://github.com/openwisp/django-freeradius/blob/72760688959f993d059a74127eb170af064aa50e/docs/source/general/api.rst
- https://github.com/openwisp/django-freeradius/blob/72760688959f993d059a74127eb170af064aa50e/docs/source/general/freeradius.rst

[2018-06-20 11:27] rohithasrk commented on #125
@nemesisdesign @cappe87 Is this version generally the app version?

[2018-06-20 11:57] rohithasrk opened #126 "[docs] Move Installation and config of FreeRADIUS to top of Contents"
Was reading the docs once and found the contents could be rearranged. The installation and config of FreeRADIUS should be at top IMO.

[2018-06-21 18:05] rohithasrk opened #127 "Show the value field in admin panel on the attribute dropdown change"
As of now to add a radcheck instance from the admin panel we are having to do a double work as the value field isn't displayed in the add view. I think we'll need to display it.

[2018-06-22 06:56] nemesisdesign commented on #127
Could you add some detail? I don't quite get it, maybe a screenshot would help.

[2018-06-22 14:53] rohithasrk commented on #127
There is an attribute field but not a value field.

![screenshot from 2018-06-22 20-22-52](https://user-images.githubusercontent.com/13820931/41783270-1660d9ae-765a-11e8-8ef6-87262266be96.png)

[2018-06-26 20:16] rohithasrk commented on #127
Also we need to address the issue #108 while closing #39

[2018-06-28 03:01] 2stacks commented on #127
Is this related to #92?

[2018-06-28 21:23] rohithasrk commented on #127
I woudn't say yes. But kind of you'll need to make some changes in the form fields itself.

[2018-07-01 18:13] 2stacks opened #128 "[bug] Not all password hashers are implemented for radcheck model"
Currently only 'Cleartext-Password', 'LM-Password' and 'NT-Password' have been implemented.  Adding an entry to the 'Radius Checks' Admin form with any of the following Attributes;

MD5-Password
SMD5-Password
SSHA-Password
Crypt-Password

Results in the following error;

Exception Type:  UnboundLocalError
Exception Value:  local variable 'password_renewed' referenced before assignment

[2018-07-04 13:41] #127 closed

[2018-07-04 18:09] nemesisdesign opened #133 "[models] Remove unused models"
@rohithasrk  please do this after #110 is merged.

I think we can safely remove the following models (and related base models, admin classes, docs references):

- `RadiusGroup`
- `RadiusGroupUsers`
- `RadiusReply`

These models were meant to implement the features that are being introduce in #110. They copied the same implementation used in [OpenWISP User Management System](https://github.com/open

[2018-07-04 20:33] rohithasrk opened #134 "[models] For fields other than the password types show the value in plain text, also while typing."
When changing the RadiusCheck model instances from the admin interface, we see that the checks enforced on the password formats come in between adding any new non password attributes.

For ex., in #110 we are using attributes like Max-Session-Limit etc as attributes that are not password types. Support needs to be added for the same.

[2018-07-04 21:18] 2stacks commented on #134
Same applies for help text.  I dont know if its worth implementing passwords and 'other' attributes separately but passwords obviously have unique requirements.  I think that since using radcheck for auth is an edge use case that more consideration should be given to non password attributes.

[2018-07-05 19:50] 2stacks commented on #133
RadiusReply is part of the default freeradius schema.  Do you think it
should still be removed?

v/r,

Andrew

On Wed, Jul 4, 2018 at 2:09 PM, Federico Capoano <notifications@github.com>
wrote:

[2018-07-06 06:13] rohithasrk commented on #133
@2stacks Probably as we aren't using it anywhere as of now, @nemesisdesign is asking to remove.

[2018-07-06 11:13] nemesisdesign commented on #133
@2stacks maybe I'm wrong, thansk for pointing out. @rohithasrk we'll have to check and remove only the models that are not part of the default freeradius schema.

[2018-07-06 11:14] rohithasrk-bidgely commented on #133
Okay. Got it.

[2018-07-06 11:14] rohithasrk commented on #133
Okay. I get it.

[2018-07-06 11:47] nemesisdesign opened #136 "[admin] Profile admin, show more useful data in list"
In the profile admin, it would be nice to show:

- Daily session limit in hours (I believe the raw value is in seconds, a function is needed to calcualte this)
- Daily bandwidth limit in megabytes (I believe the raw value is in bytes, octets should mean bytes, a function is needed to calcualte this)
- Maximum all time session limit in hours (I believe the raw value is in seconds, a function is nee

[2018-07-06 11:48] R9295 commented on #136
Will do after.

[2018-07-06 12:40] 2stacks commented on #133
No problem.  I don't find it particularly useful but I can imagine someone
else having an existing freeradius configuration that makes use of it.

On Fri, Jul 6, 2018 at 7:13 AM, Federico Capoano <notifications@github.com>
wrote:

[2018-07-06 14:23] #39 closed

[2018-07-06 14:28] nemesisdesign opened #137 "[API] Allow enforcing profile limits through API"
It may be possible and useful to implement the limits we added in #110 directly in the REST API without the need of configuring the `sqlcounter` in freeradius.

The advantages of doing so could be:

- configuration of freeradius would result simpler
- we could make the API view extensible and customizable, opening up to scenarios that now are not even thinkable with the freeradius `sqlcounter` mod

[2018-07-09 16:12] #119 closed

[2018-07-09 16:50] #133 closed

[2018-07-09 19:35] rohithasrk commented on #108
Closed with #

[2018-07-09 19:38] 2stacks commented on #108
Agreed, I was going to work on Simultaneous-Use since I use it often.  I typically use RadGroupCheck but it could be implemented per user in RadCheck.

[2018-07-09 19:43] rohithasrk commented on #108
@2stacks I wasn't actually to add restrictions on users using the RadGroupCheck model. Can you share your freeradius config if possible/ tell me how you were able to do it?

[2018-07-09 20:04] 2stacks commented on #108
I haven't tested this with django-freeradius and postgresql yet.  This is
from another project I maintain.
https://hub.docker.com/r/2stacks/freeradius/ I'm in the process of updating
to support postgresql.

1.  In 'sites-enabled/default'

accounting {
# radutmp
# sradutmp

        sql
}

session {
# radutmp

sql
}

2. Uncomment Simultaneous Use Checking Queries in '$INCLUDE
${modconfdir}/${.:name}

[2018-07-10 07:48] #128 closed

[2018-07-11 14:39] rohithasrk commented on #134
Hey @2stacks yes. There is an improvement but I still think for attributes like Max-Session-Limit or so the admin interface still shows up the value in password format while typing. I think that can be changed using JS

[2018-07-11 16:16] 2stacks commented on #134
Yeah I couldn't find a way to conditionally set the form widget in django.

[2018-07-11 16:17] rohithasrk commented on #134
Hey @2stacks. We can use javascript for this. Shouldn't be tough.

[2018-07-12 13:04] rohithasrk opened #143 "Make API reusable by adding base classes and inheriting from there"
As of now the API seems to be useful only in our classes. We need make them reusable so that users can customize accordingly. This would involve separation of the abstract logic and the app specific logic.

[2018-07-12 14:03] nemesisdesign commented on #143
I don't understand very well what you mean

[2018-07-12 14:03] nemesisdesign commented on #143
Ah ok now I understand, the API classes are not reusable. Why aren't the tests of the sample app failing?

[2018-07-12 14:05] nemesisdesign commented on #143
The models are loaded via the swappable mechanism, that's why.
Anyway, :+1: for fully reusable views, including having the authorize view class based and more extensible.

[2018-07-12 16:30] rohithasrk commented on #143
Yes @nemesisdesign. As of now, while developing #33 I'm making the authorize view class based. Would do it in the same PR.

[2018-07-12 21:13] rohithasrk opened #146 "Add RadiusProfile to list_display in User changelist"

[2018-07-13 18:07] 2stacks commented on #108
@rohithasrk are you working to add implementation of Simultaneous-Use with an extra field in radius profile?  I think I can help if you are busy with something else.

[2018-07-13 18:09] rohithasrk commented on #108
@2stacks no. As of now working on the token authentication on the API.

[2018-07-14 16:16] rohithasrk commented on #65
@peppelinux I think the drawback here when you want to put more than one restriction on an username, we would want to use multiple radcheck instances. Like the way we are implementing the session limits feature. If done what you said, our app wouldn't allow to do so.

[2018-07-14 17:41] peppelinux commented on #65
In my production environment I configured username as unique index. I said all the words, nothing more to say. Close it as it is

[2018-07-14 17:41] #65 closed

[2018-07-19 09:10] #33 closed

[2018-07-20 08:17] nemesisdesign opened #148 "[docs] Available settings incomplete"
@rohithasrk the available settings page doesn't list all the available settings (eg: `DJANGO_FREERADIUS_API_TOKEN` but there may be other as well).

Please add any missing setting there, if these are described elsewhere in the docs simply link to their specific section or even better do as the django docs does, keep the info about each setting in the settings reference and then link to it from oth

[2018-07-25 09:48] rohithasrk opened #150 "Update the django-filter requirements"

[2018-07-26 00:54] rohithasrk opened #151 "Integrate django-freeradius as an openwisp module with multitenancy"
This thread aims to discuss the integration of django-freeradius into openwisp2. I'm developing a working prototype on my machine and pushing the code to https://github.com/rohithasrk/openwisp-radius-prototype.

Anyone interested could track it/ suggest features in this thread.

[2018-07-26 11:53] nemesisdesign commented on #41
@rohithasrk I can't run tests after merging the patch.. do you have any idea why?

[code]

[2018-07-26 11:56] nemesisdesign commented on #41
@peppelinux @2stacks it would be helpful if you could help us ensuring patch #106 works
I want to remove the old migrations before we release the 0.1 version and I want to make sure you won't have problems when upgrading.

[2018-07-26 11:58] nemesisdesign commented on #148
Closed by #149

[2018-07-26 11:58] #148 closed

[2018-07-26 11:59] nemesisdesign commented on #143
@rohithasrk is this done or not? Please help me to clean up the issue list

[2018-07-26 11:59] nemesisdesign commented on #136
@R9295 can this be closed? Did you forget to add the close command in your PR?

[2018-07-26 11:59] #136 closed

[2018-07-26 11:59] nemesisdesign commented on #125
@rohithasrk we should do this before releasing 0.1

[2018-07-26 12:01] nemesisdesign commented on #92
@2stacks can this be closed?

[2018-07-26 12:01] nemesisdesign commented on #43
@rohithasrk can this be closed?

[2018-07-26 12:02] nemesisdesign commented on #42
I'm not sure this is a good idea anymore.

[2018-07-26 12:02] #42 closed

[2018-07-26 12:02] nemesisdesign commented on #10
Closed as not relevant anymore.

[2018-07-26 12:02] #10 closed

[2018-07-26 12:03] nemesisdesign commented on #18
This issue is too vague.. I'm closing it. I will open more specific issues if I feel we need to improve something.

[2018-07-26 12:03] #18 closed

[2018-07-26 12:04] nemesisdesign commented on #91
@peppelinux do you have a fix for this issue=

[2018-07-26 13:09] peppelinux commented on #91
Not yet because in my implementstion valid until is not null. We think a default value if freradius radcheck query have to deal with this. It's not mandatory

[2018-07-26 20:36] peppelinux commented on #127
It was already fixed here:
https://github.com/openwisp/django-freeradius/pull/93/files#diff-2e44be5f1a13a1864b4e90bda482b58cR14

https://github.com/openwisp/django-freeradius/pull/93

happy to see it fixed right now. Good job

[2018-07-27 07:47] nemesisdesign commented on #151
@rohithasrk keep us up to date

[2018-07-27 07:47] nemesisdesign commented on #126
@rohithasrk could you be a bit more specific please?

[2018-07-27 07:50] nemesisdesign opened #153 "[API] Allow using API for authorization together with radius checks"
It may be a good idea to allow the authorize API endpoint to return an empty response instead of a `AuthType: Reject`.

This way, as @2stacks suggested, freeradius would be able to perform other checks using other freeradius modules, for example radius checks, ldap, etc.

We just have to make sure that eventually the authorization request will fail if no freeradius module replies positively.

[2018-07-27 10:09] #125 closed

[2018-07-27 11:16] #80 closed

[2018-07-27 12:15] rohithasrk commented on #143
It works pretty well with openwisp-radius too

[2018-07-27 12:15] #143 closed

[2018-07-27 13:57] nemesisdesign commented on #143
:+1:

[2018-07-28 09:32] rohithasrk commented on #126
I'm not sure if it is anymore relevant.

[2018-07-28 09:32] #126 closed

[2018-07-29 17:15] nemesisdesign commented on #92
no problem @2stacks, thanks for letting me know

[2018-07-29 17:15] #92 closed

[2018-07-30 12:21] nemesisdesign commented on #41
I'm removing the old migrations.

If anyone runs into problems with not being able to run `./manage.py migrate` after old migrations have been removed, you can try the following workaround:

[code]

[2018-07-30 12:22] #41 closed

[2018-07-30 12:29] #150 closed

[2018-07-30 14:10] nemesisdesign opened #156 "[models] Remove files related to batch user creation on deletion"
When a `RadiusBatch` instance is deleted, associated files should be deleted too.

Eg: https://github.com/openwisp/django-loci/blob/master/django_loci/base/models.py#L86-L88

[2018-07-30 14:17] nemesisdesign opened #157 "[batch] Files are created in root dir when running tests"
How to replicate the issue:

1. run `./runtests.py --keepdb` from the proejct roor
2. the following files appear: `gsoc.pdf`, `openwisp.pdf`, `prefix.pdf`, `test.csv`, `test.pdf`

Expected behaviour: these files should be created in `settings.MEDIA_ROOT`.

[2018-07-30 15:04] #153 closed

[2018-07-30 15:10] 2stacks commented on #153
I'll test this as soon as I can.  The documentation I added will need to be
updated to reflect this change.

On Mon, Jul 30, 2018 at 11:04 AM, Federico Capoano <notifications@github.com

[2018-07-30 17:09] nemesisdesign commented on #153
@2stacks noted down to update the docs, thanks

[2018-07-31 13:46] #156 closed

[2018-07-31 13:46] #157 closed

[2018-07-31 16:36] rohithasrk commented on #151
Done with the basic extensibility. Working on adding the django-freeradius tests with openwisp-radius.

[2018-07-31 17:04] rohithasrk opened #161 "Make tests to work with multitenancy in openwisp-radius"
Due to fields like Organization that are being added as a mandatory field in openwisp-radius, we need to make sure testing code is extensible for these type of fields. This could begin with making the DetailModel of the sample_app a required one and testing against it.

[2018-08-04 06:40] rohithasrk opened #164 "Make management commands reusable for use in reused apps"
The main problem here lies in the organization field when the app is being extended with multitenancy. We'll need to take in the organization field as an input in those scenarios. The goal, therefore, is to make that possible with the least duplication of code.

[2018-08-07 09:24] peppelinux opened #165 "Handle Calling-Station-Id and Called-Station-Id in RadiusPostAuth"
in /etc/freeradius/3.0/mods-config/sql/main/mysql/queries.conf the posth-auth insert query should be changed this way:
[code]
otherwise callingstationid and calledstationid in the sql schema will remains null.
This should be pushed into documentation if you agree

[2018-08-07 09:45] nemesisdesign commented on #165
@peppelinux officially we are recommending to use the REST module for the postauth phase: http://django-freeradius.readthedocs.io/en/latest/general/freeradius.html#configure-the-rest-module

[2018-08-07 09:51] peppelinux commented on #165
Only rest auth is the way to handle these attributes well in django-freeradius?

[2018-08-07 11:46] nemesisdesign commented on #165
@peppelinux it's not the only way, but it's the recommended and documented way which we intend to support. that is: reply to and help people if they get stuck, add support for new features and so on.

Handling via the REST API gives infinite possibilities, it allows to hook django signals and perform operations that wouldn't be possible to perform with SQL queries. That's why we are investing in t

[2018-08-08 13:18] nemesifier opened #167 "[models] Help text say "A unique ... name" but field is not unique"
The `help_text` of `AbstractRadiusProfile.name` says `A unique profile name`, but the field has no `unique=True` constraint.

Same applies for `AbstractRadiusBatch`.

It would be useful to have them as unique fields, we just have to ensure that in multitenancy the constraint is removed in favour of `unique_together = ('organization', 'name')`, because different organizations may use the same name.

[2018-08-12 06:27] #161 closed

[2018-08-12 06:27] #164 closed

[2018-08-26 15:51] nemesisdesign opened #170 "[limits] Make units explicit"
When adding/editing a profile, the units are not explicit (eg: seconds, bytes, etc).

We should do two things:

- add `help_text` to the model fields, which will be shown in the admin
- ~~make these units explicit in the documentation page too~~ EDIT: not needed, it's already explained :+1:

[2018-08-26 15:51] #165 closed

[2018-08-26 15:53] nemesisdesign commented on #146
This would be useful but needs special care because it can break integration with larger systems (eg: immagine openwisp-radius plugged in a larger openwisp deployment with additional modules).

The first thing that comes into my mind is to be able to deactivate this with a setting but there may be other better ways to deal with that eventuality.

[2018-08-26 17:50] #134 closed

[2018-08-26 18:11] nemesisdesign opened #171 "[docs] Add management commands suggestion in installation page"
**Reserved for GCI**

Some management commands are essential to make some features work (eg: deactivate and delete expired users).

We should recommend to add all the management commands in the crontab, they are all needed in a real world deployment. This should be done in the [setup page](https://django-freeradius.readthedocs.io/en/latest/general/setup.html).

[2018-09-04 21:36] atb00ker commented on #167
From what i have been able to understand,
this shall be achieved in the following way, right?
[code]

[2018-09-06 13:41] atb00ker opened #175 "[bug] Batch User creation form throwing `TypeError`"
When the form is submitted without entering `Number of users` ; `TypeError at /admin/django_freeradius/radiusbatch/add/` is received due to the fact that `NoneType` object cannot be interpreted as an integer in the `prefix_generate_user()`, a check for the same is required.

[2018-09-06 16:37] nemesisdesign commented on #175
Thanks @atb00ker for reporting this. Let's leave it for GCI.

[2018-09-06 16:45] #170 closed

[2018-09-07 07:20] #167 closed, assigned to nobody

[2018-09-07 09:28] atb00ker commented on #171
The management commands seem to have their own [page](https://django-freeradius.readthedocs.io/en/latest/general/management_commands.html).

Shoud i add:
[code]
or should i add them in the same page separately.

[2018-09-14 13:48] nemesisdesign opened #177 "[feature] Reimplement Profiles using radgroupcheck, radgroupreply and radiususergroup"
The current implementation of `RadiusProfile` generates some non-trivial issues:

- identical checks are created for each user, something that could have been more easily done with `radgroupcheck`
- if a user is deleted, the check stays there
- it makes it really hard to integrate with with multi-tenancy because as soon as the organization field is introduced, everything falls apart

For these rea

[2018-09-14 18:08] atb00ker commented on #175
A function like this in django_freeradius.base.forms.AbstractRadiusBatchAdminForm should solve this:
[code]

[2018-09-15 09:56] nemesisdesign commented on #175
@atb00ker it's probably enough to set it as `required=True`: https://github.com/openwisp/django-freeradius/blob/master/django_freeradius/base/forms.py#L59
But the task has to require writing a failing test first, which is very good training.

[2018-09-15 15:37] nemesisdesign opened #178 "[requirements] Update xhtml2pdf version"
**Task reserved for GCI**

As you can see from [requires.io](https://requires.io/github/openwisp/django-freeradius/requirements/?branch=master), the xhtml2pdf version is slightly outdated.

Let's not only update the version, but also make it flexible so it doesn't need constant updating, eg: `>=0.2.3,<0.3.0` will allow all 0.2.x versions, which should not contain backward incompatible changes.

[2018-09-16 09:19] nemesisdesign opened #179 "[settings] Improve default for DJANGO_FREERADIUS_BATCH_MAIL_SENDER"
**Reserved for GCI**

The value of `DJANGO_FREERADIUS_BATCH_MAIL_SENDER` should default to the standard [django DEFAULT_FROM_EMAIL](https://docs.djangoproject.com/en/2.1/ref/settings/#std:setting-DEFAULT_FROM_EMAIL).

[2018-09-16 09:23] nemesisdesign opened #180 "[docs] Move settings related to emailing users to settings page"
**Reserved for GCI**

These [settings related to emailing users](https://django-freeradius.readthedocs.io/en/latest/general/importing_users.html#sending-emails-to-users) should be documented in the [available settings page](https://django-freeradius.readthedocs.io/en/latest/general/settings.html), following the same format, the English explanation of each of these settings should also be improved.

[2018-09-16 10:37] nemesisdesign opened #181 "[models] Remove python_2_unicode_compatible decorators"
**Reserved for GCI**

We dropped support for python 2.7, therefore we can remove all the `python_2_unicode_compatible` occurrences.

[2018-09-17 11:44] nemesisdesign opened #182 "[api] Improve robustness of TokenAuthentication"
**Reserved for GCI**

At this line: https://github.com/openwisp/django-freeradius/blob/master/django_freeradius/api/views.py#L29

The code would fail if the authorization header does not contain any space. Proceed as follows:

- replicate the issue in a test case (this is also called Test Driven Development)
- once the test fails, fix the code so it doesn't fail

[2018-09-17 13:58] nemesisdesign commented on #108
@2stacks @rohithasrk I think currently the best thing to do is to:

1. include the standard or most common freeradius attributes in the default list
2. allow to extend the list with a django setting (and explain it in the docs)

We can do this during the Google Code-In with the help of new contributors.
I want to do the same thing for all the choice options.

[2018-09-17 15:40] 2stacks commented on #108
Sounds good.  I most often use "simultaneous-use" attribute but it
would be good to have a way to add to a hard coded list of default
options.

[2018-09-23 14:51] nemesisdesign opened #183 "[admin] Remove admin NasForm in favour of customizable nas choices"
**Reserved for GCI**

The custom NAS form in the admin of django-freeradius allows to enter a NAS type which is not included in the available options, but due to how django choices work, custom values won't be shown in the admin select list.

We should do the following:

- make the NAS choices customizable with a setting
- document the new setting
- remove the current NAS form and eventual unit te

[2018-09-24 09:15] nemesisdesign opened #185 "[accounting API] Automatically determine groupname"
**Reserved for GCI**

The radius accounting table has a `groupname` field which cannot be sent by freeradius in the accounting query, it has to be determined in another way.

There are different way to do this, but we should use the Django ORM so this feature can be handled automatically by the API. To implement this feature we should do the following:

- when saving a new accounting, the system c

[2018-09-26 18:34] nemesisdesign opened #186 "[QA] Increase test coverage to 100%"
**Reserved for GCI**

After merging https://github.com/openwisp/django-freeradius/pull/184 and performing a big clean up the code coverage decreased.

Help us to to get it back to 100%.
To inspect the test coverage, run these commands:

[code]

The last command will create an HTML report which you can open in the browser and inspect in order to find which lines of codes need to be executed in the

[2018-09-27 02:20] kira0204 opened #187 "Updating Python versions in setup.py"
Hi,
As we are now supporting django 2.1(#166 ), we should drop the support for Python2.7 and also include Python3.5 and Python3.6 in the `setup.py`.
Thoughts?

[2018-09-27 09:51] kira0204 commented on #187
Hi,
I ran tests successfully with python 3.6, also I was talking about this https://github.com/openwisp/django-freeradius/blob/a45faaf80730c7263b799ac717da4a51f8d46446/setup.py#L62-L63

[2018-09-27 09:52] nemesisdesign commented on #187
Sure I understood, you can proceed with the change!

[2018-09-27 15:18] #187 closed

[2018-10-23 10:32] traintraveler commented on #181
Can I take this up ?

[2018-10-23 11:29] nemesisdesign commented on #181
Hey @traintraveler, Welcome!

Aare you a Google Code-In student? If yes, please wait the official start of the program in a few hours. If not, please don't, this task is reserved for Google Code-In participants.

[2018-10-23 16:46] traintraveler commented on #181
@nemesisdesign No, I'm not a code-in student, cool.

[2018-10-24 10:16] nemesisdesign commented on #181
@traintraveler if you want to contribute you can take a look at our [Contributor's Board](https://github.com/orgs/openwisp/projects/3), thank you!

[2018-10-25 06:45] binooetomo opened #192 "setup for development fail"
Dear All.

I'm trying to follow steps from https://django-freeradius.readthedocs.io/en/latest/general/setup.html
I use 'pipenv'

1. when 'pipenv install -r requirements-test.txt', I got traceback :
[code]

2. I step forward to './manage.py migrate', and got :

[code]

Sincerely
-bino-

[2018-10-25 09:38] nemesisdesign commented on #192
It looks to me that you using python2, django-freeradius works with python3 only.

[2018-10-27 14:46] binooetomo commented on #192
Sir,
I followed the instruction, i just replace 'virtualenvwrapper' with pipenv .. since I'm familiar with pipenv.

[2018-10-27 16:09] nemesisdesign commented on #192
I see now `python3.6` in the path, sorry. I inferred a different issue because I saw a syntax error.

We have a build on python 3.6 which is working: https://travis-ci.org/openwisp/django-freeradius/jobs/444164660, so I'm not sure what's happening here.

[2018-11-04 13:37] #181 closed

[2018-11-04 13:38] #179 closed

[2018-11-09 07:46] #182 closed

[2018-11-11 13:30] #192 closed

[2018-11-11 13:33] #151 closed

[2018-11-11 13:34] nemesisdesign opened #201 "[qa] Move ReadOnlyAdmin to openwisp-utils"
Move `ReadOnlyAdmin` to openwisp-utils because it's something that is also used in other openwisp modules.

[2018-11-11 13:46] #178 closed

[2018-11-12 10:08] OltarzewskiK commented on #186
@nemesisdesign @R9295 Can I test models in `test_admin` file, because I found out that in `test_admin` I can do it with less amount of code or should I stick that `test_admin` is for `admin` and `test_models` is for `models`?

[2018-11-16 10:58] hanetzer opened #204 "issues authenticating aside from radtest"
So, I've recently setup a docker cluster or whatever (three containers with docker-compose; one
runs a django site with this project embedded, and the other two run a postgres db and the actual
freeradius server itself; they can all talk to one another properly), and while I can see the json post
in the log (radius -X), it seems the %{User-Password} token is coming out empty. I'm not sure if this

[2018-11-16 14:32] nemesisdesign commented on #204
Hey @hanetzer, this doesn't seem a bug but a configuration issue.
It is not possible for us to help you to debug this issue without having full access to the configuration you are using.
If you can, push your work to github in a way that can be easily replicated so others can run it, replicate the issue and help you out to figure out what is happening.

For future non-trivial support questions lik

[2018-11-16 14:32] #204 closed

[2018-11-16 21:06] hanetzer commented on #204
@nemesisdesign https://bitbucket.org/hanetzer/radius.git << clone and `docker-compose up`.
You will need a file in the directory called .env which looks like this in the clone's directory.
[code]

[2018-11-18 10:51] nemesisdesign opened #206 "[docs] Clarify captive portal vs WPA2 enterprise conf"
The freeradius configuration documentation page assumes the configuration is being done to set up for a captive portal wifi setup, other configurations like WPA2 Enterprise are implemented differently so we need to make this more explicit.

[2018-11-18 11:36] #186 closed

[2018-11-18 12:05] nemesisdesign commented on #204
Discussion moved to mailing list: https://groups.google.com/d/msg/openwisp/5kQ_lUPs7Bo/ISV3kEodAwAJ

Documentation issue created here: https://github.com/openwisp/django-freeradius/issues/206

[2018-11-23 09:51] nemesisdesign opened #208 "[docs] Update AbstractModels page"
The [Abstract Models page](https://django-freeradius.readthedocs.io/en/latest/general/abstract_models.html) is outdated, needs to be updated.

[2018-11-25 10:54] #180 closed

[2018-11-29 06:21] shashwat1002 commented on #185
@nemesisdesign , I wanted to know save how? The admin interface?
I believe it won't be saving directly because we need to know the user to fill the group_name, so am I right in assuming that

- 1 test case for saving from admin interface

-  1 test case for saving via api.

[2018-11-29 21:38] nemesisdesign commented on #185
@shashwat1002 no no, this needs to happen via the accounting API, it's written in the text, but let me clarify in the title as well

[2018-11-30 05:08] shashwat1002 commented on #185
Means, I'll be writing two test cases? One with the setting enabled, the other without?
 (as opposed to three) and no changes to the admin site?

[2018-12-01 19:36] OltarzewskiK commented on #201
I will take this task

[2018-12-04 14:28] 1871vinayak opened #215 "[qa] Added commit message style check"
[qa] Added commit message style check

[2018-12-04 15:41] #215 closed

[2018-12-05 11:06] ppabcd commented on #215
why this issues closed?

[2018-12-06 10:34] nemesisdesign commented on #171
@atb00ker yes that would be good, where would you add that text?

[2018-12-09 12:00] #185 closed

[2018-12-10 04:21] ppabcd commented on #175
hmm i have one question, how i go back with errors sessions when number of users is empy? Errors session will generated by utils.py.

I have algorithm for this issue but i don't know how to implements. Like https://laravel.com/docs/5.7/redirects#redirecting-with-flashed-session-data

[2018-12-11 08:46] nemesisdesign opened #223 "[docs] Clarify django application must be running before starting freeradius"
In the freeradius installation and configuration doc page it is not stated explicitly that the django application must be running before freeradius is started. This implicit assumption is throwing new users off track as shown by this post: https://groups.google.com/d/msg/openwisp/UvK23cJW_3k/1DCvk0EKDgAJ

We should add one or more notes regarding this, probably a note in the `debugging` section wo

[2018-12-11 10:37] YashJipkate commented on #223
@nemesisdesign  I opened a PR in this regard.

[2018-12-12 15:32] #171 closed

[2018-12-15 16:10] #223 closed

[2018-12-15 16:59] #201 closed

[2019-02-01 09:59] rohithasrk opened #227 "Update to latest version of django-filter"
There is a requirements outdated update shown by requires.io. Update django-filter to the latest version and provide support.

[2019-02-01 10:00] Vivekrajput20 commented on #227
I'm working on it.

[2019-02-01 15:36] nemesisdesign commented on #227
Fixed by @Vivekrajput20, thanks.

[2019-02-01 15:36] #227 closed

[2019-03-09 02:26] 2stacks opened #229 "[docs] Update documentation for configuring Freeradius"
I wanted to recommend some minor changes to the documentation regarding the installation of Freeradius.

1. By linking the 'sqlcounter' module in 'mods-enabled' we shouldn't have to apply the work around mentioned in the 'Configure the SQL counters' section of the documentation anymore.
2. It's not clear in the documentation where to put the 'api_token_header' in the 'default' site config.  I've m

[2019-03-24 07:38] codesniper99 commented on #208
Can I work on this?

[2019-03-24 12:15] codesniper99 commented on #91
How to recreate the issue?

[2019-03-24 13:43] peppelinux commented on #91
You should consider to have valid_until not null :)

[2019-03-24 15:28] #229 closed

[2019-04-02 22:54] nemesisdesign opened #231 "[django] Add support for django 2.2"
Add support for django 2.2.

[2019-04-19 00:19] nemesisdesign opened #232 "[authentication] Add RadiusToken"
The idea of creating a temporary token to use as a password in captive portals is very handy, but now we are using the rest framework Token model to perform the authorization in freeradius, but in order to completely separate the authentication of a user on the frontend apps that consume the openwisp API and the authorization of users in the wifi service, we should introduce a new `RadiusToken` mo

[2019-04-23 05:19] onegrit opened #233 "ImproperlyConfigured error occupied when migrating db."
Hi,
    **Firstly,  Sorry for my terrible english. Hope you can understand my expression and issue.**
    I'm a new man  of Django-freedius. I tried to install django-freeradius.
    I set my main urls.py as following:
`urlpatterns = [
    path('admin/', admin.site.urls),
    path('', include('django_freeradius.urls')),
]`
 After that, When i execute ' python manage.py migrate' command, my console

[2019-04-23 13:22] nemesisdesign commented on #233
Hi @onegrit and welcome,

I'm not sure why this is happening, I suggest to try to copy the test project urlconf: https://github.com/openwisp/django-freeradius/blob/master/tests/urls.py, if that doesn't work, try cloning this repo and run the development install instructions in the README until it does work, then when it does, I suggest copying the same files into your project.

We use github issue

[2019-04-23 13:22] #233 closed

[2019-04-23 23:07] onegrit commented on #233
Thanks for you answer! I'm going to post my issue in stack overflow.

[2019-05-13 15:11] Vivekrajput20 commented on #232
Hi  Fed
I have doubts regarding what we want to achieve here.
Currently we are using rest framework token model to authorize in freeradius and then the same token model is used in openwisp radius for the authentication. Now what we want to do is to keep using the rest framework token model for authorization in free radius and create a Radius token model that will inherit rest framework token model

[2019-05-14 22:18] nemesisdesign commented on #232
If there's an abstract model in DRF we can inherit from then yes, otherwise we can make a new one.

[2019-05-18 16:21] atb00ker opened #251 "[bug] Form error on "Add batch user creation""
**Error:**
[code]

**How to reproduce:**
1. Go to `<domain>/admin/openwisp_radius/radiusbatch/add/`
2. Select "Strategy:" as "Import from CSV"
3. Upload a PDF file instead of CSV.

**Expected Behaviour:**
Graceful handling of error; telling user that incorrect format file has been uploaded and asking them to try again.

[2019-05-19 17:28] #231 closed

[2019-05-24 14:10] Vivekrajput20 opened #236 "[bug] IntegrityError at Radius batch add operation"
Radius batch add operation gives 500 Internal server error when we try to add operation with a name that already exists.

[2019-05-24 16:32] Vivekrajput20 opened #238 "[api] Add API endpoint to validate user token"
To implement the auto login feature in the frontend app. We'll be required to validate token stored in the signed cookie. This API endpoint will validate the user token.

[2019-06-24 12:50] Vivekrajput20 commented on #238
@nemesisdesign  I need to add an endpoint to validate the token. Should I create a new endpoint or add a GET method to obtain-auth-token view for this purpose?

[2019-07-05 16:06] #232 closed

[2019-07-15 17:40] #236 closed

[2019-07-27 17:49] #238 closed

[2019-09-10 19:26] nemesisdesign opened #243 "[pdf] Migrate to weasyprint"
Migrate the html2pdf library to wasyprint, which is way to superior to what we are using now.

[2019-10-24 04:06] pythonwood opened #244 "Add freeradius-server-3.0.19 db fields"
freeradius-server-3.0.19 db add feild framedinterfaceid, framedipv6address and so on now.

Is this project still devloping ?  will django model add feild soon?

[2019-10-24 05:14] atb00ker commented on #244
The project is still under development.
However, since I don't know much about the fields you've mentioned, i'd defer for someone more experienced to comment on it. :smile:

[2019-11-08 12:20] atb00ker opened #246 "[requirements] Update dependencies & python version used."
We need to update all the dependencies.
We need to add support for django 3.0 and drop support for django versions that are older than 2.2.
We also need to test on python 3.6 and 3.7 on travis, dropping python 3.5.

Description edited by @nemesisdesign.

[2019-11-10 20:51] TheOneAboveAllTitan opened #248 "Add to create virtual environment in 'Installing for development' of documentation"
It might be possible that someone jumps directly over to 'Installing for development' topic without going through all steps. The first step in this topic should either be to create a virtual environment or reference to that step of the previous topic like 'After creating a virtual environment, do ...'

[2019-11-10 21:10] okraits commented on #248
The first paragraph in the setup chapter is `Create a virtual environment`. So I don't really get the issue here.

[2019-11-10 21:19] TheOneAboveAllTitan commented on #248
Yes, but that can be overlooked. A person who is eager for setting up development environment may not follow all the steps. Are they supposed to?

[2019-11-11 01:05] 2stacks commented on #248
That sounds more like a personal problem as it's pretty standard practice
for python development.  I actually think that entire section should be
moved to the "Contributing" docs.  For what it's worth that section also
begins with "create a virtual environment".

On Sun, Nov 10, 2019 at 4:19 PM TheOneAboveAllTitan <
notifications@github.com> wrote:

[2019-11-11 06:17] TheOneAboveAllTitan commented on #248
That is indeed a standard practice, and it felt odd that it was not mentioned in docs.

This will be more helpful.

[2019-11-11 06:42] okraits commented on #248
It _is_ mentioned in the docs. And it's also a standard practice for deployment, thus it makes sense that it's the first paragraph of the Setup chapter.
Even if you're looking for development instructions, you should have installed the package once before and read the docs from the beginning.

[2019-11-12 21:02] #248 closed

[2019-11-13 03:37] pythonwood opened #250 "Only AbstractRadiusGroup.Meta has not db_table"
https://github.com/openwisp/django-freeradius/blob/master/django_freeradius/base/models.py
line 488:
`    class Meta:
        verbose_name = _('group')
        verbose_name_plural = _('groups')
        abstract = True`

**It cause:**
1. when django_freeradius in INSTALL_APPS ，create table django_freeradius_radiusgroup
1. when django_freeradius in INSTALL_APPS ，create table sample_radius_radiusgrou

[2019-11-15 15:53] adithyaanilkumar commented on #246
Hi  i am a beginner in contributing to open source projects. I would like  to work on this issue. Can you please help me with the same? i don't know where to start but i would love to work on this.

[2019-11-16 09:50] atb00ker commented on #246
This issue is reserved for GCI right now! :smile:
You may pick up any issue not related to GCI. :smile:
Here is our contributors board: https://github.com/orgs/openwisp/projects/3

[2019-11-20 19:52] atb00ker opened #253 "[docs] Improve installation documentation"
Currently our installation for development documentation in django-freeradius has couple of errors.

For this task, you need to do the following
1. Follow documentation to install for development
2. Fix the error that you face during installation
The steps will be roughly:
2.1 If you are on debian 10 you may need to install: default-libmysqlclient-dev and libpq-dev
2.2 Run: `pip install -r require

[2019-11-21 18:09] #251 closed

[2019-12-02 11:37] anshuldutt21 commented on #243
Hi, I would like to contribute to this issue.

[2019-12-02 15:55] anshuldutt21 commented on #243
I just encountered an issue while setting up the repository, there is no manage.py file in the code so do I need to manually create one for running the steps?

[2019-12-02 16:04] 2stacks commented on #243
manage.py is in the /tests directory.  Are you following these steps https://django-freeradius.readthedocs.io/en/latest/general/setup.html#installing-for-development

[2019-12-02 16:06] NoumbissiValere commented on #243
Hello,

The manage.py is in the tests directory.
So if you are standing in the project's root directory, to run manage.py
you could do something like python tests/manage.py

On Mon, Dec 2, 2019, 4:55 PM anshuldutt21 <notifications@github.com> wrote:

[2019-12-04 08:49] anshuldutt21 commented on #243
I ran the manage.py migrate command.  Lots of syntax errors are showing up in the filters.py file in the django-filters folder. After googling those errors I found out that they were due to the new version of django-filters 2.0 and downgrading it would maybe help but the older version of django-filters isnt compatible with the django-free radius version. Using python3  also isnt helping as environ

[2019-12-05 03:04] RohanJnr commented on #246
I am coming from GCI website.
Can I use pipenv ?

[2019-12-05 13:46] atb00ker commented on #243
I think this is setup problem, can you please try to delete the repository and clone again and follow the steps in the README?
If the errors persist, please let us know.
(Also, this is not related to the tasks, so please let talk about it on gitter or mailing list)

[2019-12-05 13:50] anshuldutt21 commented on #243
Ok. Actually I asked regarding it in gitter.They told me that I couldnt work on it since the issue is reserved for GCI.So,I switched over to another issue.

[2019-12-05 13:51] atb00ker commented on #246
@RohanJnr For your own setup you can use anything you like, but please don't push `Pipfile` or any other pipenv residue! :smile:

[2019-12-05 14:13] atb00ker commented on #243
Okay! :smile:

[2019-12-07 03:47] 2stacks commented on #253
I can confirm that step 2.1 install `libpq-dev` is needed for Ubuntu 18.04 with newer kernel versions (5.x).

[2019-12-10 11:55] nemesisdesign commented on #244
@2stacks are there other fields we need to add?

At the moment I see these ones:

[code]

I don't see any other.

[2019-12-10 13:18] 2stacks commented on #244
I didn't do a full comparison yet but you can see all available fields
here.
https://github.com/FreeRADIUS/freeradius-server/blob/master/raddb/mods-config/sql/main/postgresql/schema.sql

On Tue, Dec 10, 2019, 6:55 AM Federico Capoano <notifications@github.com>
wrote:

[2019-12-10 22:22] atb00ker opened #255 "[docs] contribution guildelines"
The `django-freeradius` docs has it's own contribution page [here](https://django-freeradius.readthedocs.io/en/latest/general/contributing.html).
Which makes no mention of the contribution page of the organization [here](http://openwisp.io/docs/developer/contributing.html)

We want to mention the organization guidelines in the `django-freeradius` documentation and remove any duplicate documentatio

[2019-12-19 12:24] nemesisdesign commented on #246
This module does not support python 2, we can update the travis build to test using python 3.6 and python 3.7

[2019-12-20 10:53] #244 closed

[2019-12-22 08:37] #243 closed

[2019-12-30 21:21] rallep71 opened #260 "You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 404 page"
You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 404 page

I don't want to have to post the whole thing again, so I just link it

https://github.com/2stacks/freeradius-django/issues/13

[2019-12-31 11:34] Vivekrajput20 opened #261 "[docs] Add step to install Weasy Print"
You need to also install the GTK+ libraries (not just weasyprint), in order for weasyprint to render the final PDF.
You can find the installation instructions for your OS documented on[ weasyprint's website](https://weasyprint.readthedocs.io/en/stable/install.html#debian-ubuntu).
If these libraries are not installed, starting the server throws an error. Add a step to install libraries required for

[2019-12-31 11:36] Vivekrajput20 commented on #261
@nemesisdesign due to this issue, openwisp-radius is also affected and it also requires to install these libraries.

[2019-12-31 15:15] atb00ker commented on #261
`docker-openwisp` was also affected, I had to install `cairo` & `pango`. :smile:

[2020-01-10 09:54] #261 closed

[2020-01-15 10:30] nemesisdesign commented on #260
Closing because invalid.

[2020-01-15 10:30] #260 closed

[2020-01-15 10:31] nemesisdesign commented on #246
And add django 3.0.

[2020-01-15 10:32] nemesisdesign commented on #250
I really do not understand this. I'm closing it since it doesn't seem a bug report.
If you have further questions please reply here or use the [support channels of OpenWISP](http://openwisp.org/support.html).

[2020-01-15 10:32] #250 closed

[2020-01-15 14:20] nemesisdesign opened #266 "[pdf] Generate PDF file in memory"
It seems that when generating the PDF we write it to the disk: https://github.com/openwisp/django-freeradius/blob/8e1d7de1bc89dc5e75fcfdd6c34fb4ee93c9c8d3/django_freeradius/utils.py#L76

Let's avoid doing that and generate the file in memory using a `BytesIO()` instance instead (a python file-like object which resides in memory instead of on disk).

[2020-01-15 18:26] nemesisdesign commented on #266
I just realized we can't do that because it would break the feature, writing on disk is intended to keep a copy of the passwords generated for the temporary users.

I leave this open in case I think about an improvement to this feature.

[2020-01-15 18:37] #246 closed

[2020-01-17 14:04] varadhbhatnagar commented on #255
I'll take up this task.

[2020-01-23 14:16] oltarzewskik commented on #253
Starting working on it :+1:

[2020-01-23 16:34] oltarzewskik commented on #253
why? `python setup.py develop` installs `requirements.txt` and `pip install -r requirements-test.txt` installs `requirements-test.txt`.

[2020-01-29 07:30] atb00ker commented on #253
python setup.py develop installs requirements.txt and pip install -r requirements-test.txt installs requirements-test.txt.

@oltarzewskik Go ahead, test if it works, I just have a habit of manually doing it so that's how I've written the steps! :smile:

[2020-01-30 09:08] #255 closed

[2020-02-07 18:36] TheOneAboveAllTitan opened #271 "[test] Deleting RadiusGroup by non super user test fails"
[code]
This test fails if the user deleting RadiusGroup is from diffrent organisation. Instead of returning `Forbidden` it redirects to admin homepage.

How to reproduce?
Create a new user (say `dummy`), assign him staff user (not superuser) and assign all permissions to it. Instead of using default organization, create a new organization (say `dummyorg`) and add that organization to this user.
No

[2020-02-09 14:37] atb00ker commented on #271
1. Different organization? I assume you mean to open the issue in `openwisp-radius`.
2. I am a little confused, is this an existing test or are you writing a new one? If you are writing a new one, then for which PR? The linked PR takes me to adding django 3.0 support, how did we get this in django 3.0 support PR?

[2020-02-09 15:52] TheOneAboveAllTitan commented on #271
1. Maybe, it should be in openwisp-radius. The code which it inherited was here so I thought a change here might be needed.
2. These tests were added in django-freeradius but weren't accounted for in openwisp-radius. Since, pip pulls from GitHub, it installed the latest version including this one which made tests on openwisp-radius to fail.

[2020-02-24 18:36] #253 closed

[2020-03-08 01:05] #208 closed

[2020-05-09 10:22] atb00ker opened #272 "[gsoc2020] Add deprecation notice"
Add deprecated notice in the repository after it is merged with the openwisp-radius

[2020-09-09 23:50] #272 closed

[2020-09-09 23:51] #266 closed

[2020-09-09 23:52] nemesisdesign commented on #146
Development has moved to [openwisp-radius](https://github.com/openwisp/django-freeradius), this repository is going to be archived.

[2020-09-09 23:52] #146 closed

[2020-09-09 23:53] nemesisdesign commented on #66
Development has moved to [openwisp-radius](https://github.com/openwisp/django-freeradius), this repository is going to be archived.

[2020-09-09 23:53] #66 closed